<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nejohnson2.lifeoftrash"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/trashicon"
        
        android:label="Life of Trash"
        android:theme="@style/AppTheme" >
		<receiver  
		    android:process=":remote" 
		    android:name="com.nejohnson2.lifeoftrash.BroadCastReceiver"> </receiver>
        <activity
            android:name="com.nejohnson2.lifeoftrash.MainActivity"
            android:label="Life of Trash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>